.header {
    display: flex;
    justify-content: flex-start;
    padding-left: 60px;
    padding-right: 60px;
    background-color: #1f2937;
    align-items: center;
}
.logo {
    display: flex;
    flex-grow: 1;
    color: white;
    font-weight: bold;
}
.link {
    text-decoration: none;
    color:#f9faf8;
    font-size: 1cap;
}
.title {
    display: flex;
    justify-content: center;
    padding: 60px;
    gap: 20px;
    background-color: #1f2937;
    align-items:center;
}
.titleimage {
    width: 250px;
    height: 100px;
    border: solid;
    background-color: grey;
    text-align: center;
}
.intro {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}
.subtitle {
    font-size: 4cap;
    font-weight: bolder;
    color: #f9faf8
}
#introduction {
    font-size: 2cap;
    color: white;

}
.signup {
    align-self: baseline;
    background-color: #3882f6;
    font-weight: bold;
    color: white;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
}
#contenttitle {
    font-size: 3cap;
    font-weight: bold;
    text-align: center;
    padding:20px;
}
.image {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.subimage {
    border:solid;
    border-color: #3882f6;
    height: 50px;
    width: 50px;
    border-radius: 10px;
}
.imageintro {
    text-wrap: wrap;
    width: 50px;
    text-align: center;
}
