.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.s1 {
    align-self:stretch;
    display: flex;
    justify-content: space-evenly;
    background-color: #1f2937;
    align-items: center;
}
.logo {
    color: white;
    font-weight: bold;
    font-size: 30px;
}
.link {
    text-decoration: none;
    color:#f9faf8;
    font-size: 15px;
}
.s2 {
    align-self:stretch;
    display: flex;
    justify-content: center;
    padding: 60px;
    gap: 20px;
    background-color: #1f2937;
    align-items:center;
}
.titleimage {
    width: 250px;
    height: 100px;
    border: solid;
    background-color: grey;
    text-align: center;
}
.intro {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}
.subtitle {
    font-size: 4cap;
    font-weight: bolder;
    color: #f9faf8
}
#introduction {
    font-size: 2cap;
    color: white;

}
.signup {
    align-self: baseline;
    background-color: #3882f6;
    font-weight: bold;
    color: white;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
}
#contenttitle {
    font-size: 3cap;
    font-weight: bold;
    text-align: center;
    padding:20px;
    margin-top: 30px;
}
.image {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 100px;
    margin-top: 50px;
}
.subimage {
    border:solid;
    border-color: #3882f6;
    height: 150px;
    width: 150px;
    border-radius: 10px;
}
.imageintro {
    text-wrap: wrap;
    width: 150px;
    text-align: center;
}
.s4 {
   align-self:baseline;
   padding-top: 150px;
   padding-bottom: 150px;
   display: flex;
   flex-direction: column;
   gap: 10px;
   background-color: #E5E7EB; 
}
#quote {
    text-align: left;
    text-wrap: wrap;
    width: 780px;
    font-size: 36px;
    font-style: italic;
    color:#1F2937;
    font-family: arial, helvetica, sans-serif;
}
#name {
    text-align: right;
    width: 780px;
    font-weight: bold;
}
.s5 {
    align-self:stretch;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 100px;
    background-color: #3882F6;
    padding:100px;
    color:#f9faf8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-shrink:0;
}
#action {
    font-weight:bold;
    font-size: 20px;
}
#signup {
    border-style:solid;
    border-color:#f9faf8;
    border-radius: 10px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: left 20px right 20px top 5px bottom 5px;
}